:root {
  --primary-font-family: 'Open Sans', sans-serif;
  --secondary-font-famile: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-light: #555555;
  --accent-color: #ff6c00;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font-family);
  /* font-size: ;
  color: ;
   */
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* ++++ne srabotalo+++++ */
.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
/* +++++PROVERIT SVOJSTVO++++++ */
address {
  font-style: normal;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
/* ======start components==== */

.modal-btn {
  min-width: 150px;
  padding: 12px 16px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #ff6c00;
  color: #fff;
}
.social-links-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}
.overtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.overtitle-theme-dark {
  color: rgb(var(--primary-text-color-theme-dark), 0.6);

  margin-bottom: 44px;
}
.overtitle-theme-light {
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 20px;
}
.main-title {
  font-family: var(--secondary-font-famile);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  /* color: #FFFFFF; */
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.description-theme-dark {
  color: rgb(var(--primary-text-color-theme-dark));
}

.description-theme-light {
  color: var(--primary-text-color-theme-light);
}
.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.title-theme-light {
  color: var(--secondary-text-color-theme-light);
}
/* ====end components===== */

/* =====Start Header======= */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
}
.logo {
  margin-right: 70px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.contact-number {
  margin-left: auto;
  margin-right: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.contact-number:hover,
.contact-numberfocus {
  color: var(--accent-color);
}
.
/* ===========End header===== */

/* ========= START HERO ========= */
/* ========= END HERO ========= */

/* ========= START ABOUT ========= */
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
/* ========= END ABOUT ========= */
/* ========= START SERVICES ========= */
.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgb(var(--primary-text-color-theme-dark));
}
/* ========= END SERVICES ========= */
/* ========= START ADVANTAGES ========= */
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}
/* ========= END ADVANTAGES ========= */

/* ========= START EMPLOYEES ========= */
.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.employees-section {
  background-color: №F7F7F7;
}
.employees-card {
  flex-basis: calc((100%-3 * 30) 3);
  margin-left: 30px;
  margin-top: 30px;
}
.employees-section .title {
  margin-bottom: 44px;
}
.employees-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
.employees-contant-wrapper {
  padding-top: 30px;
}
.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.
/* ========= END EMPLOYEES ========= */

/* ========= START HERO ========= */
.contact-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgb(var(--primary-text-color-theme-dark));
}
.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgb(var(--primary-text-color-theme-dark));
}
/* ========= END HERO ========= */

/* ========= START FOOTER ========= */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: rgb(var(--primary-text-color-theme-dark));
}
/* ========= END FOOTER ========= */
